<table class="po-table">
  <colgroup>
    <col class="po-table__col po-table__col--reference" />
    <col class="po-table__col po-table__col--supplier" />
    <col class="po-table__col po-table__col--status" />
    <col class="po-table__col po-table__col--lines" />
    <col class="po-table__col po-table__col--expected" />
    <col class="po-table__col po-table__col--total" />
  </colgroup>
  <thead class="po-table__head">
    <tr>
      <th scope="col">Riferimento</th>
      <th scope="col">Fornitore</th>
      <th scope="col">Stato</th>
      <th scope="col" class="po-table__cell--lines">Righe</th>
      <th scope="col" class="po-table__cell--expected">Attesa il</th>
      <th scope="col" class="po-table__cell--total">Totale</th>
    </tr>
  </thead>

  <tbody>
    @for (order of orders(); track order.id) {
      <tr
        class="po-table__row"
        tabindex="0"
        [attr.aria-label]="rowLabel(order)"
        (click)="rowClick.emit(order)"
        (keydown.enter)="rowClick.emit(order)"
        (keydown.space)="$event.preventDefault(); rowClick.emit(order)"
      >
        <td class="po-table__reference tabular-nums" data-label="Riferimento">
          {{ order.reference }}
        </td>
        <td data-label="Fornitore">{{ order.supplierName }}</td>
        <td data-label="Stato">
          <app-badge [tone]="statusTone(order.status)">{{ statusLabel(order.status) }}</app-badge>
        </td>
        <td class="po-table__cell--lines tabular-nums" data-label="Righe">
          {{ lineCount(order) }}
        </td>
        <td class="po-table__cell--expected tabular-nums" data-label="Attesa il">
          {{ expectedLabel(order) }}
        </td>
        <td class="po-table__cell--total tabular-nums" data-label="Totale">
          {{ formatMoney(order.totalAmount) }}
        </td>
      </tr>
    }
  </tbody>
</table>
