<nav class="app-sidebar" aria-label="Navigazione principale">
  <div class="app-sidebar__brand">
    <span class="app-sidebar__brand-lockup">
      <img
        class="app-sidebar__logo"
        src="/icons/icon-topbar.png"
        width="28"
        height="28"
        alt=""
        aria-hidden="true"
      />
      <span class="app-sidebar__wordmark">VestiFlow</span>
    </span>
    @if (drawerOpen()) {
      <button
        type="button"
        class="app-sidebar__close"
        aria-label="Chiudi menu di navigazione"
        (click)="closeRequested.emit()"
      >
        <i class="pi pi-times" aria-hidden="true"></i>
      </button>
    }
  </div>

  <div class="app-sidebar__nav">
    @for (section of sections(); track section.id) {
      <section class="app-sidebar__section" [attr.aria-label]="section.label ?? null">
        @if (section.label) {
          <h2 class="app-sidebar__section-title">{{ section.label }}</h2>
        }
        <ul class="app-sidebar__list">
          @for (item of section.items; track item.route + item.label) {
            <li>
              @if (item.disabled) {
                <span
                  class="app-sidebar__link app-sidebar__link--disabled"
                  aria-disabled="true"
                  title="In preparazione"
                >
                  <i class="app-sidebar__icon pi" [ngClass]="item.icon" aria-hidden="true"></i>
                  <span class="app-sidebar__label">{{ item.label }}</span>
                </span>
              } @else {
                <a
                  class="app-sidebar__link"
                  [class.app-sidebar__link--active]="isLinkActive(item)"
                  [routerLink]="item.route"
                  [queryParams]="item.queryParams ?? null"
                  [attr.aria-current]="isLinkActive(item) ? 'page' : null"
                >
                  <i class="app-sidebar__icon pi" [ngClass]="item.icon" aria-hidden="true"></i>
                  <span class="app-sidebar__label">{{ item.label }}</span>
                  @if (item.badge !== undefined) {
                    <span class="app-sidebar__badge tabular-nums">{{ item.badge }}</span>
                  }
                </a>
              }
            </li>
          }
        </ul>
      </section>
    }
  </div>

  @if (showLogout()) {
    <ul class="app-sidebar__footer" aria-label="Account">
      <li class="app-sidebar__logout-item">
        <button
          type="button"
          class="app-sidebar__link app-sidebar__link--action"
          (click)="logoutRequested.emit()"
        >
          <i class="app-sidebar__icon pi pi-sign-out" aria-hidden="true"></i>
          <span class="app-sidebar__label">Esci</span>
        </button>
      </li>
    </ul>
  }
</nav>
