<div class="po-lines__wrapper">
  <table class="po-lines">
    <thead>
      <tr>
        <th scope="col">SKU</th>
        <th scope="col" class="po-lines__cell--numeric">Ordinato</th>
        <th scope="col" class="po-lines__cell--numeric">Ricevuto</th>
        <th scope="col" class="po-lines__cell--numeric">Costo unitario</th>
        <th scope="col" class="po-lines__cell--numeric">Totale riga</th>
      </tr>
    </thead>
    <tbody>
      @for (line of lines(); track line.id) {
        <tr class="po-lines__row">
          <td class="po-lines__sku tabular-nums">{{ line.sku }}</td>
          <td class="po-lines__cell--numeric tabular-nums">{{ line.orderedQuantity }}</td>
          <td
            class="po-lines__cell--numeric tabular-nums"
            [class.po-lines__cell--pending]="line.receivedQuantity < line.orderedQuantity"
          >
            {{ line.receivedQuantity }}
          </td>
          <td class="po-lines__cell--numeric tabular-nums">{{ formatMoney(line.unitCost) }}</td>
          <td class="po-lines__cell--numeric tabular-nums">{{ formatMoney(lineTotal(line)) }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
