<span
  class="hover-tooltip"
  [class.hover-tooltip--bottom]="sotto()"
  [class.hover-tooltip--end]="alignEnd()"
  [class.hover-tooltip--scostata]="scostamento() !== null"
  [class.hover-tooltip--chiusa]="chiusa()"
  [style.--hover-tooltip-scostamento.px]="scostamento()"
  [style.--hover-tooltip-larghezza.px]="larghezzaMassima()"
  (mouseenter)="updatePlacement()"
  (mouseleave)="onMouseLeave()"
  (focusin)="onFocusIn()"
  (focusout)="onFocusOut()"
>
  <span class="hover-tooltip__trigger">
    @if (icona()) {
      <button
        type="button"
        class="hover-tooltip__icona"
        [attr.aria-label]="etichetta()"
        [attr.aria-describedby]="idBolla()"
      >
        <i class="pi pi-question-circle" aria-hidden="true"></i>
      </button>
    }
    <ng-content />
  </span>
  <span class="hover-tooltip__bubble" role="tooltip" [attr.id]="idBolla()">
    {{ tooltipLines().body }}
    @if (tooltipLines().note; as note) {
      <span class="hover-tooltip__note">{{ note }}</span>
    }
  </span>
</span>
