@if (avatarUrl(); as url) {
  <img
    class="user-avatar__image"
    [class.user-avatar--sm]="size() === 'sm'"
    [class.user-avatar--md]="size() === 'md'"
    [class.user-avatar--lg]="size() === 'lg'"
    [src]="url"
    [alt]="resolvedTitle()"
    [title]="resolvedTitle()"
    [width]="pixelSize()"
    [height]="pixelSize()"
    decoding="async"
  />
} @else {
  <span
    class="user-avatar__initials"
    [class.user-avatar--sm]="size() === 'sm'"
    [class.user-avatar--md]="size() === 'md'"
    [class.user-avatar--lg]="size() === 'lg'"
    [title]="resolvedTitle()"
    aria-hidden="true"
    >{{ initials() }}</span
  >
}
