@use 'responsive-table' as rt;

:host {
  display: block;
}

.location-table__wrapper {
  inline-size: 100%;
}

@include rt.stack-table('location-table');

.location-table__code {
  color: var(--color-text-muted);
}
